@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    font-family: Roboto;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 40px;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    border: 2px solid ;
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
}

.top-buttons button{
    height: 40px;
    width: 85px;
}

.num-pad button{
    height:40px;
    width: 40px;
    background-color: rgb(218, 218, 218);
    font-size: 24px;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 10px;
}

.num-pad{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.clear{
    background-color: #EE9999;
    font-size: 16px;
}

.clear:hover{
    background-color: #f38b8b;
}

.clear:active{
    background-color: #ee9999;
    transform: translateY(3px);
}

.backspace{
    background-color: #99b0ee;
}

.backspace:hover{
    background-color: #999aee;
}

.backspace:active{
    background-color: #99b0ee;
    transform: translateY(3px);
}

button{
    border-radius: 5px;
}

.num-pad button:hover{
    background-color: rgb(158, 157, 157)
}

.num-pad button:active{
    background-color: rgb(218, 218, 218);
    transform: translateY(3px);
}

.display{
    height: 100px;
    width: 180px;
    border: 2px solid;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 5px;
}

.display span{
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.num-pad .plus {
    background-color: aquamarine;
}

.num-pad .plus:hover{
    background-color: rgb(108, 216, 180);
}

.num-pad .plus:active{
    background-color: aquamarine;
    transform: translateY(3px);
}

.num-pad .minus {
    background-color: tomato;
}

.num-pad .minus:hover{
    background-color: rgb(236, 90, 64);
}

.num-pad .minus:active{
    background-color: tomato;
    transform: translateY(3px);
}

.num-pad .multiply {
    background-color: goldenrod;
}

.num-pad .multiply:hover{
    background-color: rgb(201, 152, 30);
}

.num-pad .multiply:active{
    background-color: goldenrod;
    transform: translateY(3px);
}

.num-pad .divide {
    background-color: plum;
}

.num-pad .divide:hover{
    background-color: rgb(190, 138, 190);
}

.num-pad .divide:active{
    background-color: plum;
    transform: translateY(3px);
}

.num-pad .equals {
    background-color: hotpink;
}

.num-pad .equals:hover{
    background-color: rgb(247, 95, 171);
}

.num-pad .equals:active{
    background-color: hotpink;
    transform: translateY(3px);
}

.hasOperation{
    display: flex;
    justify-content: space-between;
    width: 100%;
}